<div class="container">
  <h2 *ngIf="isLoginMode">Iniciar Sesión</h2>
  <h2 *ngIf="!isLoginMode">Registrarse</h2>

  <form *ngIf="isLoginMode" [formGroup]="formLogin" (ngSubmit)="login()">
    <div>
      <label for="email">Correo</label>
      <input id="email" type="email" formControlName="email">
    </div>
    <div>
      <label for="password">Contraseña</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <button type="submit">Iniciar Sesión</button>
  </form>

  <form *ngIf="!isLoginMode" [formGroup]="formRegister" (ngSubmit)="register()">
    <div>
      <label for="name">Nombre</label>
      <input id="name" type="text" formControlName="name">
    </div>
    <div>
      <label for="email">Correo</label>
      <input id="email" type="email" formControlName="email">
    </div>
    <div>
      <label for="password">Contraseña</label>
      <input id="password" type="password" formControlName="password">
    </div>
    <button type="submit">Registrarse</button>
  </form>

  <button (click)="toggleMode()">
    
  </button>
</div>
